 <!-- DocSection: using_webhooks_get_latest_content -->
@model Article

<div class="body">
  <h2>@Model.Title</h2>

  <img src="@Model.TeaserImage.First().Url222" class="img-responsive" alt="@Model.TeaserImage.First().Name"/>

IDeliveryClient client_2nGtD6LbYY  @Model.Summary
</div>
<!-- EndDocSection -->