 <!-- DocSection: using_webhooks_get_latest_content -->
@model Article

<div class="body">
  <h2>@Model.Title</h2>

  <img src="@Model.TeaserImage.First().Url2" class="img-responsive" alt="@Model.TeaserImage.First().Name"/>

  @Model.Summary
</div>
<!-- EndDocSection -->